# Directories
.vs/
Binaries/
Binaries-Intermediates/
Core/vendor/Binaries/
Core/vendor/Binaries-Intermediates/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln
*.log
*.lnk
Icon.txt
TODO.txt
层栈结构实现.txt
*.png
Makefile

# Exclude
!Vendor/Binaries